Repository tkc310/wpenv_vite: changes, and which lefthook commands are due for each by the changed paths.
All: lint:fix, lint:style:fix, prettier

lint:fix:
  run: npm run lint:fix {staged_files}

lint:style:fix:
  run: npm run lint:style:fix {staged_files}

prettier:
  run: npm run prettier {staged_files}

chore: add tailwindcss
  package-lock.json
  package.json
  src/styles/main.scss
  tailwind.config.js
  vite.config.ts
Due: lint:fix, lint:style:fix, prettier

feat: テンプレート関数の埋込
  .gitignore
  README.md
  WORDPRESS.md
  wordpress/themes/example/footer.php
  wordpress/themes/example/header.php
  wordpress/themes/example/index.php
  wordpress/themes/example/screenshot.png
  wordpress/themes/example/single.php
Due: prettier

feat: wordpress外の静的開発用のエントリーポイント追加
  src/index.html
Due: prettier

docs: 画像URL取得関数を追加
  WORDPRESS.md
  wordpress/themes/example/index.php
Due: prettier

chore: asdf導入
  .node-version
  .tool-versions
Due: none

chore: wordpressのバージョンアップ
  .wp-env.json
  wordpress/themes/example/functions.php
Due: prettier

feat: #1 ページネーション追加
  src/styles/main.scss
  wordpress/themes/example/index.php
Due: lint:style:fix, prettier

style: prettier
  src/styles/main.scss
Due: lint:style:fix, prettier

test
  src/styles/main.scss
Due: lint:style:fix, prettier

feat: #2 固定ページ
  wordpress/themes/example/page-example.php
  wordpress/themes/example/page-sample.php
  wordpress/themes/example/page.php
Due: prettier

docs: readmeに管理画面からの任意設定を追記
  README.md
Due: none

feat: #5 検索フォーム
  src/styles/main.scss
  wordpress/themes/example/header.php
  wordpress/themes/example/searchform.php
Due: lint:style:fix, prettier

feat: #11 お問い合わせフォーム
  .gitignore
  .wp-env.json
  README.md
  compose.yaml
  wordpress/themes/example/page-example.php
  wordpress/themes/example/page-inquiry.php
Due: prettier

docs: readmeにドライバ設定がめんどくさい旨を追記
  README.md
Due: none

docs: readme調整
  README.md
Due: none

docs: readmeにwp-envのdoc追加
  README.md
Due: none

chore: wp-envのコマンド追加
  package.json
Due: none

chore: wp-env.jsonの設定追記
  .wp-env.json
Due: none

chore: networkが繋がらないためcompose->shellに変更
  .wp-env.json
  README.md
  compose.yaml
  scripts/adminer.sh
  scripts/docker-down.sh
  scripts/docker-up.sh
  scripts/mailhog.sh
Due: none

chore: デフォルトの言語設定を日本語に変更
  .wp-env.json
Due: none

chore: セットアップ時にタイムゾーンを変更
  .wp-env.json
  scripts/after-setup.sh
Due: none

feat: #10 カスタム投稿
  wordpress/themes/example/archive-announces.php
  wordpress/themes/example/components/post_item.php
  wordpress/themes/example/functions.php
  wordpress/themes/example/single.php
Due: prettier

chore: デフォルトテーマの設定
  .wp-env.json
Due: none

chore: デフォルトのパーマリンクを変更
  scripts/after-setup.sh
Due: none

feat: #9 カスタムフィールド
  wordpress/themes/example/functions.php
  wordpress/themes/example/page-sample.php
Due: prettier

docs: wordpressのソースを追記
  README.md
Due: none

Path conditions:
  lint:fix: any of: *.{ts,js}
  lint:style:fix: any of: *.{scss,css}
  prettier: any of: *.{html,scss,ts,js,php}
